.cart{
    position: relative;
    transform: scaleY(0.98);
    background-color: white;
}
.amount span{
    color: black;
    padding: 0 20px;
    font-size:1vw;
    font-weight:bold;

}
.amount button{
    width: 15%;
    height: 15%;
    border: 1px solid #777;
    border-radius: 20px;
    font-size:1vw;
    font-weight:bold;

}
.delete{
    position: absolute;
    top:0;
    right: 5px;
    color: crimson;
    font-weight: 900;
    cursor: pointer;
}
.total{
  position: absolute;
  right: 0%;
}

.amount button:hover{
  border-radius: 20px;
  background-color:#A4C5AF;
}
.box-detail{
  font-size: smaller;
}

.detail{
  height:10%;
  width: 50%;
  margin:auto;
}
.detail1{
  width: 80%;
}
.price{
  color:#A4C5AF;
  font-size: x-large;
}
.price{
  color:#A4C5AF;
  font-size: x-large;
}
.cartDesc{font-size:1vw;

}
.cartTotal{
  color:red;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 40%;

}

.columnCheck{
  width:25%;
  margin:auto;
  padding: 1%;
}
.box{
  border: 2px solid #A4C5AF;
  border-radius: 5px;
  margin: 5%;
}
.cartContainer {
  width: 70%;
  padding: 20px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: auto;
  background-color:yellow;
}
.cartItem img{
  width: 50%;
  height: 50%;

}
.cartItem{
  padding: 5%;
}
.column {
  float: left;
  width: 20%;
  margin-left: 2.5%;
  margin-right:2.5%;
  font-size:1vw;
text-align: center;
}
.columnCheck{
  margin-bottom:50px;
}
