.detail{
    display: flex;
    padding: 80px;
    font-size: 100%;

}
.detail img{
    max-width: 300px;
    width: 100%;
    padding: 20px;
    height: 350px;
    object-fit: cover;
    display: block;
}
.box-detail{
}
.box-detail .row{
    display: flex;
    align-items: center;
}
.box-detail h2{
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
.box-detail .cart{
    background: #A4C5AF;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
}
.products{

}
.cartButton:hover{
  border: 1px solid #A4C5AF;
  background-color: white;
  color: #A4C5AF;
}

.cartButton{
  background: #A4C5AF;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px;
  justify-content: space-between;
  margin-bottom: 50px;

}
span{
  color: #A4C5AF;
  font-weight: bold;
  font-size: 24px;
}
