.history-page{
    overflow-x: auto;
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.history-page table{
    margin: auto;
    width: 100%;
}
.history-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    text-transform: capitalize;
    font-size:1vw;

}
table a{
    color: rgb(3, 165, 206);
}

.history-page img{
    width: 50%;
}

.reviewButton{
  width: 50%;
  border-radius: 8px;

  font-size:1vw;
  background: #A4C5AF;
  color: white;
  text-transform: uppercase;
}
.reviewButton:hover{
  width: 50%;
  border-radius: 8px;
  color: #A4C5AF;
  background: white;
  border: 1px solid #A4C5AF;
}
